include ../modules/page-list/_page-list
include ../modules/_head
include ../modules/_header
include ../modules/_footer
include ../modules/_copy-right

doctype html
html(lang='en')
  head
    block head
  body
    block body
    script(src="js/main.js")
