{
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "quotes": [ 1, "single", "avoid-escape" ],
    "semi": [0, "never"],
    "no-undef": [ 1 ],
    "space-in-parens": [ 0, "always" ],
    "template-curly-spacing": [ 2, "always" ],
    "computed-property-spacing": [ 2, "always" ],
    "no-multiple-empty-lines": [ 2, { "max": 1, "maxEOF": 0, "maxBOF": 0 } ],
    "no-use-before-define": [ 2, { "functions": false } ],
    "camelcase": [ 1 ]
  }
}
