//-------------------------------------------------------
//- Modules :: Head
//-------------------------------------------------------

mixin head(title)
  title= title
  meta(charset='utf-8')
  meta(name='description', content=title)
  meta(name='keywords', content=title)
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(content="telephone=no" name="format-detection")
  link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  link(rel='stylesheet', type='text/css', href='css/main.css')
