// ======================================================
// Layout :: Header
// ======================================================

.header {
  height: 54px;
  box-shadow: 0 2px 10px 0 rgba(255, 255, 255, .3);
  display: flex;
  align-items: center;

  @include respond-to(phone-and-down) {
    height: 47px;
  }

  &--background-black {
    background: #1E1E1B;
  }

  .navbar-brand {
    margin-right: 80px;
  }

  // .nav-item {
  //   &:not(:last-child) {
  //     margin-right: 30px;
  //   }
  // }

  .nav-link {
    position: relative;
  }

  .noti {
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -5px;
    top: -5px;
  }
}
