//-------------------------------------------------------
//- Styleguides :: Alerts
//-------------------------------------------------------

h2 Alert
.box-content
  .box-alert
    .box-alert__list
      .box-alert__item.alert-success.box-item-style
        i.box-alert__icon-alert.fas.fa-caret-down
        .box-alert__item-inner
          .box-alert__item-content
            p.box-alert__text Insert message here.
        i.box-alert__icon-close.fas.fa-times

      .box-alert__item.alert-success.box-item-style
        .box-alert__item-inner
          .box-alert__item-content
            p.box-alert__text Insert message here.
        i.box-alert__icon-close.fas.fa-times

      .box-alert__item.alert-success.box-item-style
        .box-alert__item-inner
          .box-alert__item-content
            p.box-alert__title Insert message here.
            p.box-alert__text Insert message here.
        i.box-alert__icon-close.fas.fa-times
