//-------------------------------------------------------
//- Styleguides :: HEADING
//-------------------------------------------------------
h1 HEADING

.box-content
  h1.title.title--large H1.This is heading level one
  h2.title.title--medium H2.This is heading level one
  h3.title.title--three-level H3.This is heading level one
  h4.title.title--four-level H4.This is heading level one
  h5.title.title--five-level H5.This is heading level one
  h6.title.title--six-level H6.This is heading level one
