//-------------------------------------------------------
//- Styleguides :: HEADING
//-------------------------------------------------------
h1 Paragraph

.box-content
  .title.title--medium Title
  .text-description description

  .text-inner This workshop will take place from 10:00 – 17:00
