h3 Status
.row
  .col-md-6
    p.box-status Status
    .box-content
      p.status.status--success Success state text
      p.status.status--warning Warning state text
      p.status.status--primary Info state text
      p.status.status--danger Danger state text
      p.status.status--primary Primary state text

  .col-md-6
    p.box-status Links
    .box-content
      .box-text-link
        a(href='#').link.link--normal Example link
      .box-text-link
        a(href='#').link.link--medium Example medium link
      .box-text-link
        a(href='#').status.status--success Success state text
      .box-text-link
        a(href='#').status.status--warning Warning state text
      .box-text-link
        a(href='#').status.status--primary Info state text
      .box-text-link
        a(href='#').status.status--danger Danger state text
      .box-text-link
        a(href='#').status.status--primary Primary state text
