extends layout/_page-default

block head
  +head('Homepage')

block main
  +header-logged()

  main.my-page-wrapper.main-wrapper.m-t-45
    ul.menu
  li.menu-item
    a(href='#') menu 1
    ul.sub-menu
      li.sub-menu-item sub menu 1
      li.sub-menu-item sub menu 1
      li.sub-menu-item sub menu 1
      li.sub-menu-item sub menu 1
      li.sub-menu-item sub menu 1
      li.sub-menu-item sub menu 1
      li.sub-menu-item sub menu 1
      li.sub-menu-item sub menu 1
  li.menu-item
    a(href='#') menu 2
    ul.sub-menu
      li.sub-menu-item sub menu 2
      li.sub-menu-item sub menu 2
      li.sub-menu-item sub menu 2
      li.sub-menu-item sub menu 2
      li.sub-menu-item sub menu 2
      li.sub-menu-item sub menu 2
      li.sub-menu-item sub menu 2
  li.menu-item
    a(href='#') menu 3
    ul.sub-menu
      li.sub-menu-item sub menu 3
      li.sub-menu-item sub menu 3
      li.sub-menu-item sub menu 3
      li.sub-menu-item sub menu 3
      li.sub-menu-item sub menu 3
      li.sub-menu-item sub menu 3
      li.sub-menu-item sub menu 3
      li.sub-menu-item sub menu 3
      li.sub-menu-item sub menu 3
  li.menu-item
    a(href='#') menu 4
    ul.sub-menu
      li.sub-menu-item sub menu 4
      li.sub-menu-item sub menu 4
      li.sub-menu-item sub menu 4
      li.sub-menu-item sub menu 4
      li.sub-menu-item sub menu 4
      li.sub-menu-item sub menu 4
      li.sub-menu-item sub menu 4
      li.sub-menu-item sub menu 4
      li.sub-menu-item sub menu 4
  li.menu-item
    a(href='#') menu 5
    ul.sub-menu
      li.sub-menu-item sub menu 5
      li.sub-menu-item sub menu 5
      li.sub-menu-item sub menu 5
      li.sub-menu-item sub menu 5
      li.sub-menu-item sub menu 5
      li.sub-menu-item sub menu 5
      li.sub-menu-item sub menu 5
      li.sub-menu-item sub menu 5
  li.menu-item
    a(href='#') menu 6
    ul.sub-menu
      li.sub-menu-item sub menu 6
      li.sub-menu-item sub menu 6
      li.sub-menu-item sub menu 6
      li.sub-menu-item sub menu 6
      li.sub-menu-item sub menu 6
      li.sub-menu-item sub menu 6
      li.sub-menu-item sub menu 6
      li.sub-menu-item sub menu 6

  +footer-link-group()
  +copyright('background-black')
